@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap');

body{
    font-family: "Pacifico", cursive;
}

.heading{
    /* font-family: "Dancing Script", cursive; */
    text-align: center;
    font-size: 90px;
    font-weight: 100;
    text-transform: lowercase;
    text-decoration: overline;
    line-height: 10px;
    letter-spacing: 20px;
    word-spacing: 100px;
}